{% load static %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'web_ui/bootstrap-datetimepicker.min.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<script src="{% static 'web_ui/moment.min.js' %}"></script>

<script src="{% static 'web_ui/bootstrap-datetimepicker.min.js' %}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--<script src="{% static 'web_ui/shared_utils.js' %}"></script>-->
<!--<script src="{% static 'web_ui/shared_graph_settings.js' %}"></script>-->
<!--<script src="{% static 'web_ui/shared_graph.js' %}"></script>-->

<script src="{% static 'web_ui/shared_utils.js' %}"></script>
<script src="{% static 'web_ui/shared_form_utils.js' %}"></script>
<script src="{% static 'web_ui/shared_graph_utils.js' %}"></script>
<script src="{% static 'web_ui/shared_graph_settings.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'web_ui/shared_style.css' %}"/>
